* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;

}

body {
    background-image: url(./imagems/dolar-fundo.jpg);
    background-size:contain;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;


}

.conteiner {
    width: 375px;
    height: 90%;
    


}

header {
    height: 66px;
    background-color: #1B83E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    color: #F4F4F4;
   
}

main {
    background-color: #E5E5E5;
    padding-left: 27px;
    

}

label {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

select {
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 95%;
    cursor: pointer;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 2px;
}

input {

    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 95%;
    cursor: pointer;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;

}

button {

    height: 48px;
    margin-top: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    background: #216eb6;
    border-radius: 25px;
    width: 95%;
    cursor: pointer;
    color: #F4F4F4;
    border: none;
    margin-top: 24px;
    margin-bottom: 36px;


}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;

}

section {
    
    border: 1px solid #1B83E2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.currecy-conteiner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.currecy-name {
    
    font-size: 14px;
    
    color: #777777;
}

.currecy-value {
    
    font-size: 20px;
    font-weight: bold;
    color: #1B83E2;
    margin-bottom: 25px;
}
.box{
    margin-bottom: 25px;
    margin-right: 20px;
}
.box-left{
    margin-bottom: 25px;
    margin-right: 20px;
}
   
@media screen and (max-width:585px) {

    
}